

:root{
    --Sof-t-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}

.container{
    margin: 2% auto;
    padding: 2% auto;
    max-width: 1400px;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 20px;
}
.header-right .menu{
    display: none;
}

.menu{
    border: 0px;
}
.menu:active{
    border: 3px solid rebeccapurple;
}
ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
li{
    text-transform: capitalize;
 

}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.home-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.web3-content {
    display: flex;
    
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.web3-content p{
    font-size: 20px;
}

.btn{
    padding: 1rem 3rem;
    background-color: var(--Soft-red);
    color: white;
    margin-top: 20px;
    border: 0px;
    text-transform: uppercase;

  
}

.btn:is(:hover,:active){
    cursor: pointer;
    background-color: black;
    color: white;
}
a:is(:hover,:active){

    cursor: pointer;
    color: var(--Soft-red);
    
}
.homee{
    margin-top: 50px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    gap: 3rem;

}

img{
    width: 100%;
}

h1{
    font-size: 60px;
}

.home-right{
    background-color: black;
    color: white;

}

.home-right p{
    padding: 20px;
}

.home-right h2,h3{
    padding-left: 20px;
    padding-top: 20pxs;
}

.home-right h2{
    padding-top:20px ;
    padding-bottom: 20px;
    padding-left: 20px;

}

.home-right h2{
    color: var(--Sof-t-orange);
}

.home-right a{
    color: white;
}
.home-right a:hover{
    color: var(--Sof-t-orange);
}
hr{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 1rem;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
 
}

#fle{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer p{
 
    padding: 10px;
}

.footer h2{
    padding-left: 10px;
  color: var(--Grayish-blue);
    font-weight: bold;
    font-size: 3rem;
}
.footer h3{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
  
}

.navi{
 
    position: absolute;
    top: 0%;
    right: 0%;
    width: 65%;
    background-color: white;
    padding: 1rem;
    height: 100vh;
    z-index: 1;
    opacity: 1;

}

.navi ul{

    display: flex;
    flex-direction: column;
    margin-top: 8rem
    
}
.close-btn{
    float: right;
    border: 0px;
    cursor: pointer;
    padding: 1rem 0rem;
    background-color: white;
  
  
}

.hiden{
    display: none;
}

div p{
    opacity: .7;
}
@media only screen and (max-width:400px){
    .container{
   
        padding: .7rem;

    }
    .header-right ul{
        display: none;
    }
    .header-right .menu{
        display: block;
    }
    .homee{
        display: flex;
        flex-direction: column;
     
    }

    .web3-content{
        flex-direction: column;

    }
    .home-left h1{
        font-size: 2.5rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer h2{
    
        color: gray;
        font-weight: bold;
        font-size: 1rem;
    }
    .footer h3{
        padding-left: 5;
        padding-top: 5;
        font-size: 1rem;
      
    }
    .navi li{
        margin: .25rem 0rem;
  
    }
    .navi li a{
        color: black;
        font-size: 1.125rem;
    }

}