
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,800;1,700&family=Montserrat:ital,wght@1,700&family=Open+Sans&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}
*
{
    margin: 0%;
    padding: 0%;
}
body{
 
    background-image: url(images/bg-desktop.svg);
    background-repeat: none;
    background-color:hsl(257, 40%, 49%);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
 
}
.container{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items:flex-end;gap: 100px;
    flex-direction: column;
 
}
.box{

    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
   
   
}

.img1{
    padding-bottom: 4rem;
}

.right-box{

    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-left: 20px;
    color: white;
    
}

div h1{
    color: white;
    line-height: 3rem;
    font-weight: bold;

}
div p{
    line-height: 2rem;
    font-size: large;
    font-weight: 600;
    color: white;
}
.btn{

    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 30px;
 
    color:hsl(257, 40%, 49%);
    background-color: white;

}
.btn:hover{
    background-color: var(--Soft-Magenta);
    color: white;
}

div img{
    width: 100%;
}

@media only screen and (max-width:500px){
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-box{
     
        display: flex;
        align-items: center;
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;
    }
}
